body {
  background-color: aliceblue;
  color: black;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  border: #cececc 1px solid;
  display: flex;
}
.info {
    width: 35%;
  background-color: darkblue;
}
.info hr {
  border: 1px solid white;
  width: 100%;
  margin: 10px;
}
.info-basic {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info img {
  width: 80%;
  border-radius: 50%;
  margin-bottom: 10px;
}
.cv-content {
  width: 65%;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .info {
    width: 100%;
  }
  .info hr{
    width: 90%;
  }
  .cv-content {
    width: 100%;
  }
  .cv-content{
    width: 100%;
  }
}
